.up-down-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  justify-content: center;
}

.arrow-btn {
  display: block;
  color: rgb(226, 224, 224);
  cursor: pointer;
  margin-left: 8px;
}
/* 
  .up {
  } */

.up::after {
  content: "\25b2";
  /* padding-left: 0.5em; */
}

/* .down {
  } */

.down::after {
  content: "\25bc";
  /* padding-left: 0.5em; */
}
