.todo-item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  padding: 6px 15px;
  align-items: center;

  &__title {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }

  &__buttons {
    display: flex;
    column-gap: 8px;
  }

  &__edit {
    background-color: rgb(65, 65, 255);
  }

  &__delete {
    background-color: red;
  }
  &__done {
    background-color: chartreuse;
  }
}
