.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  margin-top: 60px;
  position: relative;
  &__container {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    column-gap: 36px;
    align-items: center;
    width: 640px;
  }

  &__list {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    width: 640px;

    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }

  &__empty {
    opacity: 0.2;
  }
}

.btn {
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}
